<!DOCTYPE>
<html ng-app="myApp">

<head>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

  <title>Employee List</title>
</head>

<body>
  <div class="container" ng-controller="AppCtrl">
    <h1 align="center">Employee List</h1>

    <table class="table">
      <thead>
        <tr>
          <th>
            <h4 align="center">Employee ID</h4>
          </th>
          <th>
            <h4 align="center">Employee Name</h4>
          </th>
          <th>
            <h4 align="center">Department</h4>
          </th>
          <th>
            <h4 align="center">Action</h4>
          </th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <input class="form-control" ng-model="contact.code_emp" placeholder="Auto Generate" readonly>
          </td>
          <td>
            <input class="form-control" ng-model="contact.name">
          </td>
          <td>
            <input class="form-control" ng-model="contact.department">
          </td>
          <td align="center">
            <button class="btn btn-primary" ng-click="addContact()">+ New Employee</button>
          </td>
          <td>
            <button class="btn btn-info" ng-click="update()">Update</button>&nbsp;&nbsp;
            <button class="btn btn-info" ng-click="deselect()">Clear</button>
          </td>
        </tr>
        <tr ng-repeat="contact in contactlist">
          <td>{{contact.code_emp}}</td>
          <td>{{contact.name}}</td>
          <td>{{contact.department}}</td>
          <td align="center">
            <button class="btn btn-warning" ng-click="edit(contact._id)">Edit</button>
            <button class="btn btn-danger" ng-click="remove(contact._id)">Remove</button>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.12/angular.min.js"></script>
  <script src="controller/controller.js"></script>
</body>

</html>